@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #1f2937;
}